$grid-float-breakpoint: 0px;

@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */

body {
  padding-top: 30px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

* {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

.btn:focus,.btn:active {
  outline: none !important;
  box-shadow: none;
}

/* header */

header {
  background-color: #BCBABE;
}

.dropdown-menu {
  background-color: #F1F1F2;
}

.dropdown-menu > li > a {
  color: #1995AD;
}

.account {
  color: #1995AD;
}

.navbar {
  margin: 0 !important;
  border: 0;
  min-height: 30px;
}

.nav .open > a:hover, .nav .open > a:focus {
  background-color: #F1F1F2;
  color: #1995AD;
}

.nav > li > a:hover, .nav > li > a:focus {
  background-color: #F1F1F2;
  color: #1995AD;
}

.navbar-nav > li > a {
  padding-top: 5px;
  padding-bottom: 5px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1em;
  color: #F1F1F2;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 6px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.menu-icon {
  font-size: 20px !important;
}

div.buttons {
  text-align: center;
}

.buttons {
  display: inline-block;
  vertical-align: inherit;
  top: 0.5px;
}

.view-button {
  max-height: 20px;
  padding: 2px 5px !important;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

// Rails automatically wraps the fields with errors in divs with the CSS class
// field_with_errors
.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

.checkbox span {
  margin-left: 25px;
}

.new-user {
  padding-top: 5px;
  margin-bottom: 0 !important;
  font-size: 16px !important;
}

.login-form {
  max-width: 370px;
  margin: 70px auto;
  background-color: #A1D6E2;
  padding: 30px 16px !important;
  input[type="checkbox"] {
    margin: 1px 0 0;
  }
  label {
    text-align: left;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.wrapper {
  display: flex;
  align-items: stretch;
}

.full-width {
  width: 100%;
}

/* sidebar */

#sidebar {
  background-color: #F1F1F2;
  transition: all 0.3s;
  min-width: 200px;
  max-width: 200px;
  min-height: 100%;
  li {
    padding-left: 15px;
    padding-bottom: 3px;
    padding-top: 3px;
    font-size: 16px;
  }
  li:hover {
    background-color: #e6e6e6;
  }
}

#sidebar.active {
  margin-left: -200px;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -200px;
  }
  #sidebar.active {
    margin-left: 0;
  }
}

.menu-button {
  color: #F1F1F2;
  max-height: 23px;
}

.menu-button:active, .menu-button:focus {
  outline: none !important;
  box-shadow: none;
}

.cal-button {
  color: #1995AD;
}

.menu-button, .cal-button {
  background: none !important;
  padding: 4px 0 0 0;
  border: none !important;
}

.full-height {
  height: 100%;
}

.cal-row {
  //position: fixed;
  //right: 0;
  height: 15%;
  width: 100%;
  margin: 0;
}

.d-flex {
  display:flex;
}
.d-flex > div {
  float: none;
}
.col-auto {
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}

.day-width {
  width: calc(100%/7);
}

.month-header {
  height: 5%;
  text-align: center;
  vertical-align: middle;
  line-height: 100%;
}

.month-layout {
  margin: 0;
  padding: 0;
  width: 100%;
}

.day-layout {
  border: 1px solid;
  overflow: hidden;
}

.void {
  border: 1px solid #CCCCCC;
  background-color: #bcbabe;
  opacity: 0.2;
}

h2, p {
  margin: 0;
  padding: 5px;
}

.btn-edit-title {
  border: none;
  background-color: #F1F1F2;
  float: right;
  margin-right: 10px;
}

.add-calendar {
  border: none;
  background-color: #F1F1F2;
  color: #a6a4a9;
  margin-left: 10px !important;
  max-height: 32px;
  padding-right: 0;
  padding-left: 0 !important;
  i {
    font-size: 30px !important;
  }
}

.cal-form-control {
  width: 100px !important;
  margin: 0;
  max-height: 23px !important;
}

.btn-cal-form {
  width: 70px !important;
  margin: 3px 0 0 0;
  max-height: 23px;
  min-height: 23px;
}

@media (max-width: 768px) {
  #new-cal-modal, #new-event-modal {
    max-width: 355px;
  }
}

@media (max-width: 527px) {
  body {
    padding-top: 61px;
  }

  .weekday-size {
    font-size: 1.5vh;
  }
}

.no-padding {
  padding: 0 !important;
}

.form-group {
  margin-bottom: 0 !important;
}
.year-row {
  height: 25%;
  width: 100%;
  margin: 0;
}

.month-in-year {
  height: 100%;
  width: 33.3333%;
  margin: 0;
}

.month-in-year:hover {
  text-decoration: none;
}

.container-fluid {
  width: 100%;
}

.year-layout {
  width: 100%;
  margin: 0;
  padding: 0.7%;
}

.month-year-padding {
  padding: 0 2%;
}

.var-font-size {
  font-size: 1.5vh;
  @media only screen and (max-width: 768px) {
    font-size: 2vw;
  }
}

.scroll-height {
  height: 240%;
}

.overflow-auto {
  overflow: auto;
}

.week-day-width {
  width: 13%;
}

.week-day-border {
  border: solid #bcbabe ;
  border-width: 1px 0 1px 1px;
}

//.time-line {background: repeating-linear-gradient(#ffffff, #ffffff 4.1%, #bcbabe 0px, #bcbabe 4.18%);}

.time-width {
  width: 9%;
  padding: 0;
  position: relative;
  @media only screen and (max-width: 500px) {
    width: 15%;
  }
}

.hours-styling {
  text-align: center;
  font-size: 2vh;
  position: absolute;
  transform: translate(0, -50%);
  right: 23%;
  @media only screen and (max-width: 1000px) {
    right: 15%;
  }
  @media only screen and (max-width: 800px) {
    right: 5%;
  }
  @media only screen and (max-width: 500px) {
    right: 1%;
  }
}

.week-date-bar {
  height: 8%;
  text-align: center;
}

.centered-text {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

.select-field {
  margin-top: 3px; 
  background-color: #ffb3ba; 
  max-width: 83%;
  @media only screen and (max-width: 768px) {
    max-width: 100%;
  }
}.day-view-day-width {
  width: 91%;
  @media only screen and (max-width: 500px) {
    width: 85%;
  }
}

.date-bar-font-size {
  font-size: 2vw;
  @media only screen and (max-width: 800px) {
    font-size: 2vh;
  }
}

.edit-event-btn {
  border: none; 
  padding: 0!important;
  cursor: pointer;
}

.event-p {
  padding: 0;
  line-height: 19px;
  color: #4a4a4a;
}