<div class="modal fade" id="edit-event-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content" style="position: absolute;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit event</h4>
      </div>
      <div id="edit-event-form"></div>
    </div>
  </div>
</div>