<% color = "#ffffff" %>
<% event_list = event_object_list(@month) %>
  <% event_list.each do |event| %>
    <% if month_check(event, @current_month_day) %>
      <% color = event.calendar.color %>
      <% break %>
    <% end %>
  <% end %>

<div style="background-color: <%= color %>" class="day-width full-height day-layout var-font-size"><p style="text-align: center;padding: 0"><%= @current_month_day %></p></div>